alabaster
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
backports.cached-property
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
click-default-group
cloup
colorutils
colour
commonmark
cycler
debugpy
decorator
defusedxml
docutils
entrypoints
executing
fastjsonschema
fonttools
furo
glcontext
idna
imageio-ffmpeg
imagesize
ipykernel
ipython
ipython-genutils
ipywidgets
isosurfaces
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
manim
ManimPango
mapbox-earcut
MarkupSafe
matplotlib
matplotlib-inline
mistune
moderngl
moderngl-window
multipledispatch
nbclient
nbconvert
nbformat
nbsphinx
nest-asyncio
networkx
notebook
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycairo
pycparser
pydub
pyglet
Pygments
pymunk
pyparsing
pyrr
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
rich
scipy
screeninfo
Send2Trash
Shapely
six
skia-pathops
snowballstemmer
soupsieve
Sphinx
sphinx-copybutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
srt
stack-data
terminado
testpath
tornado
tqdm
traitlets
urllib3
watchdog
wcwidth
webencodings
widgetsnbextension
sphinx-new-tab-link
sphinxcontrib-youtube